  
### scipy-notebook

absl-py==0.9.0
astor==0.8.1
beautifulsoup4==4.8.*
bokeh==1.3.*
boto3
cloudpickle==1.2.*
cython==0.29.*
dill==0.3.*
flask
flask_cors==3.0.8
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.9.*
#hdf5==1.10.*
imutils==0.5.3
ipywidgets==7.5.*
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
matplotlib
numba==0.45.*
numexpr==2.6.*
numpy>=1.18.2
opencv-python==4.1.2.30
opt-einsum==3.1.0
pandas
patsy==0.5.*
pillow==5.1.0
protobuf==3.9.*
PyYAML==5.3
s3cmd
scikit-image==0.15.*
scikit-learn==0.21.*
scipy>=1.4.1
seaborn>=0.10.0
six==1.14.0
sqlalchemy==1.3.*
statsmodels==0.10.*
subprocess.run
sympy==1.4.*
tqdm==4.43.0
uuid==1.30
urllib3
vincent==0.4.*
werkzeug==0.14.1
wget>=3.2
xlrd==1.2.*

### tensorflow-notebook

tensorflow==2.2.0
jupyter-tensorboard==0.2
